<div id="<%= dom_id lead %>">
  <p>
    <strong>Name:</strong>
    <%= lead.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lead.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= lead.phone %>
  </p>

</div>
