<% content_for :title, "Editing google place" %>

<h1>Editing google place</h1>

<%= render "form", google_place: @google_place %>

<br>

<div>
  <%= link_to "Show this google place", @google_place %> |
  <%= link_to "Back to google places", google_places_path %>
</div>
